
.icon-camera:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel-1:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */